:root {
  --table-border: 1px solid lightgray;
}
a {
  cursor: pointer;
}
.MuiTable-root {
  table-layout: fixed;
}

.MuiTableCell-head {
  resize: horizontal;
  overflow: auto;
  text-align: center;
  border-right: var(--table-border);
}

.MuiTableCell-body {
  border-right: var(--table-border);
  img {
    margin: auto;
    display: block;
  }
}

.MuiTableCell-root {
  text-align: center;
  overflow-wrap: break-word;
}

.MuiTableCell-root .MuiTypography-root {
  text-align: center;
  overflow-wrap: break-word;
}
